<div class="row no-gutters table-responsive table-responsive-md">
  <div class="col-lg-12 pr-lg-2">
    <div class="card mb-3">
      <div class="card-header">
        <h5 class="mb-0"><%= banco_user.new_record? ? 'Adicionar' : 'Editar' %> Administrador</h5>
      </div>
      <div class="card-body bg-light">
        <%= form_with(model: [:banco_admin, banco_user], local: true) do |form| %>
          <% if banco_user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(banco_user.errors.count, "error") %> prohibited this banco_user from being saved:</h2>
              <ul>
                <% banco_user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <%= hidden_field :banco_id, banco_id: Banco.first.id %>
          <div class="form-row">
            <div class="col-md">
              <div class="form-group">
                <%= form.label :nome, "Nome" %>
                <%= form.text_field :nome, class: "form-control", placeholder: "Nome Administrador" %>
              </div>
            </div>
            <div class="col-md">
              <div class="form-group">
                <%= form.label :email, "E-mail" %>
                <%= form.email_field :email, class: "form-control", placeholder: "E-mail Administrador" %>
              </div>
            </div>
            <div class="col-md">
              <div class="form-group">
                <%= form.label :senha, "Senha" %>
                <%= form.password_field :senha, class: "form-control", placeholder: "Senha Administrador" %>
              </div>
            </div>
            <div class="col-12">
              <hr class="border-dashed border-bottom-0">
            </div>
            <div class="form-row">
              <div class="actions col-md">
                <%= form.submit 'Salvar', class: "btn btn-primary mr-1 mb-1" %>
                <%= link_to 'Cancelar', banco_admin_banco_users_path, class: "btn btn-outline-danger mr-1 mb-1" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
