<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">


  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <title>NB-Cliente</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'banco_cliente_application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'banco_cliente_application', 'data-turbolinks-track': 'reload' %>
</head>
<body>

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#"><%= @cliente_logged.nome %></a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <h1 class="h2 text-white ml-3"></h1>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <%= link_to "Sair", banco_cliente_auth_logout_path, class:'nav-link' %>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item <%= active_page?(banco_cliente_painel_cliente_visao_geral_path) %>">
            <%= link_to banco_cliente_painel_cliente_visao_geral_path, class: "nav-link" do %>
              <div class="d-flex align-items-center">
                <span class="nav-link-icon"><span class="fas fa-columns"></span></span> &nbsp;<span class="nav-link-text"> Painel</span>
              </div>
            <% end %>
          </li>
          <li class="nav-item <%= active_page?(banco_cliente_moviments_path) %>">
            <%= link_to banco_cliente_moviments_path, class: "nav-link" do %>
              <div class="d-flex align-items-center">
                <span class="nav-link-icon"><span class="fas fa-file-invoice-dollar"></span></span> &nbsp;<span class="nav-link-text"> Movimentações</span>
              </div>
            <% end %>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              Orders
            </a>
          </li>
          <div class="settings px-3 px-xl-0">
            <div class="navbar-vertical-divider px-0">
              <hr class="navbar-vertical-hr my-3" />
            </div>
          </div>
          <li class="nav-item <%= active_page?(banco_cliente_conta_path) %>">
            <%= link_to banco_cliente_conta_path, class: "nav-link" do %>
              <div class="d-flex align-items-center">
                <span class="nav-link-icon"><span class="fas fa-plus"></span></span> &nbsp;<span class="nav-link-text"> Contas</span>
              </div>
            <% end %>
            </li>
        </ul>
        <div class="settings px-3 px-xl-0">
          <div class="navbar-vertical-divider px-0">
            <hr class="navbar-vertical-hr my-3" />
          </div>
        </div>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Relatórios</span>
          <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Current month
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

      </div>

      <div class="my-4 w-100" >
        <% if notice %>
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong><%= notice %></strong>
            <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span class="font-weight-light" aria-hidden="true">×</span></button>
          </div>
        <% end %>
        <%= yield %>
      </div>

      <h2>Section title</h2>

    </main>
  </div>
</div>
</body>
</html>
